.adv {
  &Item {
    display: flex;
    column-gap: 20px;
    align-items: flex-start;
    position: relative;
    max-width: 330px;
    @media(max-width: 575px){
      max-width: 350px;
    }
    &:nth-child(3){
      &::after {
        @media(max-width: 1199px){
          display: none;
        }
      }
    }
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;

        /* Ставим линию ровно по центру 100-пиксельного зазора */
        /* -50px назад от правого края текущей колонки */
        right: -40px;
        top: 50%;
        transform: translateY(-50%);
        /* Центрируем по вертикали */

        width: 1px;
        height: 105px;
        /* Высота вашей палочки по макету */
        background-color: rgba(8, 20, 31, 0.07);
        /* Светло-серый цвет разделителя */
        @media(max-width: 1599px){
          right: -30px;
        }
        @media(max-width: 1400px){
          right: -5px;
          height: 100%;
        }
        @media(max-width: 991px){
          display: none;
        }
      }
    }

    &Title {
      font-size: 20px;
      line-height: 120%;
      font-weight: 600;
      @media(max-width: 575px){
        font-size: 16px;
      }
    }

    &Descr {
      color: #767781;
    }

    &Icon {
      width: 48px;
      @media(max-width: 575px){
        width: 43px;
      }
    }

    &Content {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      @media(max-width: 575px){
        row-gap: 5px;
      }
    }
  }

  .sep {
    height: 100%;
    width: 1px;
    background-color: rgba(8, 20, 31, 0.07);
    grid-column: auto;
  }
}