/* Hamburger Menu */
.hamburger {
  align-self: center;
  flex-direction: column;
  border-radius: 8px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  padding-right: 5.5px;
  padding-left: 5.5px;
  row-gap: 2px;
  cursor: pointer;
  position: relative;
  // transition: background 0.2s linear;  
  display: none;
  background-color: var(--orange);

  @media (max-width: 991px) {
    display: flex;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  width: 19px;
}

.hamburger .meat {
  width: 100%;
}

.hamburger .bottom-bun {
  width: 15px;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {
  opacity: 0;
}