.calc-rent {
  background-color: #edf1f5;

  &-form {
    border-radius: 16px;
    padding: 30px;
    background: #fff;
  }
  .container {
    position: relative;
  }
  &-logo {
    position: absolute;
    left: -230px;
    bottom: -80px;
    width: 236px;
  }
}