// Header
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
  z-index: 2;
  position: relative;
  @media(max-width: 991px){
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    background-color: #fff;
    width: 100%;
  }

  &Logo {
    &:hover {
      opacity: .85;
    }

    img {
      width: 210px;
      @media(max-width: 1599px){
        width: 172px;
      }
      @media(max-width: 767px){
        width: 122px;
      }
      @media(max-width: 349px){
        width: 100px;
      }
    }
  }

  &W {
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: space-between;
    @media(max-width: 1599px){
      column-gap: 25px;
    }
    @media(max-width: 1400px){
      flex-wrap: wrap;
      row-gap: 20px;
    }
    @media(max-width: 991px){
      column-gap: 15px;
      flex-wrap: nowrap;
    }
    .button {
      @media(max-width: 1400px){
        margin-left: auto;
      }
    }
  }

  .contacts {
    flex-direction: column;

    .phone {
      font-size: 18px;
      padding-left: 30px;
      background: url('@img/icons/phone-orange.svg') no-repeat left center / 20px;
      font-weight: 400;

      &:hover {
        color: var(--orange);
      }
    }

    .work-time {
      font-size: 14px;
      color: #767781;
      padding-left: 30px;
    }
  }

  &Nav {
    position: relative;
    @media(max-width: 991px){
      display: none;
    }

    &>ul {
      display: flex;
      column-gap: 30px;
      @media(max-width: 1599px){
        column-gap: 18px;
      }

      &>li {
        display: flex;

        &.menu-item-has-children {

          &>a {
            padding-right: 20px;
            background-image: url('@img/icons/arrow-down.svg');
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 12px;
            transition: color .2s linear, background-image .2s linear;
          }

          &:hover {
            &>a {
              background-image: url('@img/icons/arrow-up-orange.svg');
              color: var(--orange);
            }

            .sub-menu-wrapper {
              display: block;
              -webkit-animation: shows 0.2s;
              animation: shows 0.2s;
            }
          }
        }

        &>a {
          font-size: 14px;
          text-transform: uppercase;
          padding-top: 12px;
          padding-bottom: 12px;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }

    .sub-menu-wrapper {
      display: none;
      position: absolute;
      top: 100%;
      // width: 250px;
      left: 0;
      width: 890px;
      // background-color: #edf1f5;
      border: 1px solid rgba(8, 20, 31, 0.1);
      border-radius: 16px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.07);
      background-color: #fff;
      z-index: 2;
      overflow: hidden;
    }

    .sub-menu-head {
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 0;

      .sub-menu-nav {
        grid-column: 4 span;

        &:nth-child(1) {
          padding-right: 30px;
        }

        &:nth-child(2) {
          padding-right: 30px;
          padding-left: 30px;
          border-left: 1px solid rgba(8, 20, 31, 0.1);   
        }

        &:nth-child(3) {
          padding-left: 30px;
          border-left: 1px solid rgba(8, 20, 31, 0.1);
        }
      }
    }

    .sub-menu-title {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    .sub-menu {
      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          color: #767781;

          &:hover {
            color: var(--orange);
          }
        }
      }
    }

    .sub-menu-footer {
      border-top: 1px solid rgba(8, 20, 31, 0.1);
      padding: 25px 30px;
      background: #f7f7f8;
    }
  }
}

.headerAction {
  position: relative;
  z-index: 1;

  .container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
  }

  &W {
    display: flex;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
    padding: 0 20px 0px;
    background: #fff;
    width: fit-content;
    margin-left: auto;
    padding-right: 0;
    position: absolute;
    right: 0;
  }

  a {
    padding-left: 29px;
    background: url('@img/icons/doc.svg') no-repeat left top 6px / 17px;
    padding-top: 4px;
    padding-left: 28px;
    padding-bottom: 16px;
    padding-right: 20px;

    &:hover {
      color: var(--orange);
    }
  }
}