.socials {
  ul {
    display: flex;
    column-gap: 10px;
    @media(max-width: 575px){
      column-gap: 5px;
    }
    li {
      a {
        &:hover {
          opacity: .85;
        }
        img {
          width: 36px;
          @media(max-width: 575px){
            width: 30px;
          }
        }
      }
    }
  }
}