// Containers
:root {
  --content-width: 1820px;
  --content-fluid-width: 1700px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));
  --font-family: "Open Sans", sans-serif;
  --outline: #e3ebf2;
  --main-color: #08141f;
  --black: #000;
  --gray-text: #767781;
  --gray-dark: #edf1f5;
  --success: #27c340;
  --error: #e02828;
  --orange: #f26b0b;
  --disabled: #c5cfdc;
  --tetriary: #abc4e4;
  --gray: #f7f7f8;
}